default: &default
  adapter: postgresql
  encoding: unicode
  url: <%= ENV.fetch('DATABASE_URL') %>
  host: <%= ENV.fetch('DB_HOST') %>
  username: <%= ENV.fetch('DB_USER') %>
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>
  password: <%= ENV.fetch('DB_PASSWORD') %>
  database: <%= "#{ENV.fetch('DB_NAME')}_development" %>
  target_session_attrs: read-write

development:
  <<: *default

test:
  <<: *default
  database: <%= "#{ENV.fetch('DB_NAME')}_test" %>

production:
  <<: *default
  database: <%= "#{ENV.fetch('DB_NAME')}" %>
  pool: 12
