# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 7fbefe60a3ccb7db719615eb3c3079e9204b1fda8256c77da18348bd8b810d6a8db4683985c4483e48ea94560fd0258c33980ca2e96c01fe6662e07fdbaa8ec6
  domain_name: wat.domain

test:
  secret_key_base: 8f17ca9468a7b27ee7d24f98a3934143913ef12c411eef7c920a018a6816d2f41a412caa187767bc3ad30168a45e6a46a88ca4ba4c32811df4852c0000fdbc9b
  domain_name: wat.domain

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  domain_name: wat.domain
